@using ConsumerRegistrationPortal.BusinessLayer.Dtos
@using ConsumerRegistrationPortal.DomainLayer
@model IEnumerable<HTMLGenerationEntity>

@if (ViewData["validatecustomer"] != null && (bool)ViewData["validatecustomer"])
{
    @Html.Display("Validation Success");
}
else if (ViewData["validatecustomer"] != null && !(bool)ViewData["validatecustomer"])
{
    @Html.Display("Validation Failed");
}
@using (Html.BeginForm("Index", "Consumer", FormMethod.Post))
{

    foreach (var item in Model.GroupBy(c => c.TerminologyId).Select(c => c.First()))
    {
        <div>
            <label>@item.LabelText</label>

            @if (@item.ElementName.ToLower() == HTMLControls.textbox.ToString().ToLower())
            {
                <input type=@item.ElementName name="@item.HTMLElementId" id="@item.HTMLElementId" @item.required data-searchable="@item.Searchable" />
            }
            else if (@item.ElementName.ToLower() == HTMLControls.checkbox.ToString().ToLower())
            {
                foreach (var childitem in item.HTMLDetails)
                {
                    <input type="checkbox" name="@item.HTMLElementId" value=@childitem.Value @childitem.ParsedSelectedString> @childitem.DisplayText
                }
            }
            else if (@item.ElementName.ToLower() == HTMLControls.listbox.ToString().ToLower())
            {

            }
            else if (@item.ElementName.ToLower() == HTMLControls.dropdownlist.ToString().ToLower())
            {
                <select name="@item.HTMLElementId" id="@item.HTMLElementId">
                    @foreach (var childitem in item.HTMLDetails)
                    {
                        <option value="@childitem.Value" @childitem.ParsedSelectedString>@childitem.DisplayText</option>

                    }
                </select>
            }
            else if (@item.ElementName.ToLower() == HTMLControls.textarea.ToString().ToLower())
            {
                <textarea name="@item.HTMLElementId" id="@item.HTMLElementId"></textarea>
            }
            else if (@item.ElementName.ToLower() == HTMLControls.radiobutton.ToString().ToLower())
            {

            }
        </div>
    }
    <input type="submit" />
}

